build/
discord_bots.egg-info/
dist/
.venv/
.vscode/
.env.example
.env
.gitignore
.pre-commit-config.yaml
README.md
Dockerfile
docker-compose.yml
.dockerenv
discord_bots/
scripts/
docker-compose-sqlite.yml